body {
    margin: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

ol li,

ul li {
    margin-bottom: 15px;
}

.menu {
    list-style-type: none;
    display: table-row-group;
    justify-content: center;
    background-color: bisque;
    padding: 10px;
}

.menu li {
    margin: 1px;
}

.menu a {
    text-decoration: none;
    color:crimson;
    font-weight: bold;
    padding: 5px 20px;
    display: block;
    border-radius: 5px;
}

.menu a:hover {
    background-color: chocolate;
    transition: background-color 0.3s ease;
}

.back-home {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.back-home:hover {
    text-decoration: underline;
}

/* Styles for smaller screens */

@media (max-width: 600px) {
    body {
        margin: 15px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .menu a {
        padding: 10px;
        font-size: 16px;
    }

    .back-home {
        font-size: 18px;
        margin-bottom: 25px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}